<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="name" source="spring.application.name"/>
    <springProperty scope="context" name="LOGS" source="config.log-path"/>
    <property name="defaultpattern" value="%d{ISO8601} %highlight(%-5level) [%blue(%X{X-B3-TraceId:-}|%X{X-B3-SpanId:-}|%X{X-B3-ParentSpanId:-})] %yellow(%C{1.}): %msg%n%throwable" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
               ${defaultpattern}
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${name}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${defaultpattern}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>2</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>

        </rollingPolicy>

    </appender>

    <!-- LOG everything at INFO level -->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="programmer.bonn.play.springbootlog" additivity="false" level="debug" >
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </logger>
    </springProfile>


    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="programmer.bonn.play.springbootlog" additivity="false" level="info" >
            <appender-ref ref="RollingFile" />
            <!-- <appender-ref ref="Console" />  -->
        </logger>
    </springProfile>

</configuration>